<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menú Principal</title>
        <!-- Bootstrap CSS -->
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet">
        <style>
            body {
                background-color: #FFE4C4;
                /* Color cálido para el fondo */
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .container {
                background-color: #8FBC8F;
                /* Verde oscuro para el formulario */
                padding: 2rem;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                max-width: 400px;
                /* Hacer el formulario menos ancho */
                width: 100%;
                text-align: center;
            }

            .btn-black {
                background-color: #000;
                color: #fff;
                transition: transform 0.2s, background-color 0.2s, color 0.2s;
            }

            .btn-black:hover {
                background-color: #333;
                color: #fff;
                /* Asegura que el texto se mantenga blanco */
                transform: scale(1.05);
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2 class="mb-4">Menú Principal</h2>
            <form method="GET">
                <button class="btn btn-black btn-block mb-3" formaction="/getCalculadora">Usar Calculadora</button>
                <button class="btn btn-black btn-block mb-3" formaction="/getInfoPais">Conocer Información de un País</button>
            </form>
        </div>

        <!-- Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>